NODE_ENV=development
PORT=3000
MONGO_URL=mongodb://username:password@localhost:27017
SECRET=iAmSuperBoy
SUBSCAN_API_KEY=
LIMIT_UPDATE_DATA_CHAIN=10
POLKADOT_ENDPOINTS=wss://rpc.polkadot.io,wss://polkadot.api.onfinality.io/public-ws,wss://polkadot-rpc.dwellir.com,wss://polkadot.public.curie.radiumblock.io/ws,wss://1rpc.io/dot,wss://public-rpc.pinknode.io/polkadot
MINIMUM_DOT_BALANCE=1
CHECK_MULTICHAIN_BALANCE_NETWORK=kusama,polkadot,sora,edgeware,chainx,darwinia-network-native-token,darwinia-crab-network,polkadex,crust-network,subsocial,calamari-network,altair,kilt-protocol,bifrost-native-coin,statemine,genshiro,integritee,karura,pha,kintsugi,moonriver,shiden,metaverse-network-pioneer,robonomics-network,quartz,zeitgeist,litmus,turing,invArch,moonbeam,astar,parallel-finance,acala,interlay,centrifuge,hydra-dx,nodle,originTrail,basilisk,parallelHeiko,polkasmith,mars,sakura,sherpax,picasso,shadow,mangata,kico,darwinia-crab-parachain,sora-parachain,pichiu,dora,tanganika,listen,kabocha,bajun,imbue,gm,amplitude,clover,litentry,manta,subdao,darwinia-pokadot,subGame,efinity,composable,phala,equilibrium,coinversation,polkadex-polkadot,unique,geminis,kylin,rmrk,zenlink-network-token